
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}

main{
    min-height: calc(100vh - 25px);
}

.bg-blue{
background-color: rgb(0, 157, 255);
}

.bg-green {
    background-color: rgb(27 175 5 / 98%);
}

.c-red{
color: red;
}
.error {
    color: red;
}

.eye{
    width: 15px;
    margin-left: 5px;
}

.navbar li a {
font-size: 24px;
}
.navbar a {
    font-size: 30px;
}

footer {
height: 25px;
color: black;
}

form .btn{
    width: 200px;
}


.errorField{
    border: 1px solid red;
}

.userImg{
    width: 100px;
}

.rounded-5 {
    border-radius: 15px;
}

.svgUser{
    width: 25px;
    
}

.nameUserForm {
    width: 200px;
}
.userFormChange {
    
    position: relative;
}

.phone::before{
    content: url(/public/assets/img/phone-solid.svg);
    width: 24px;
    position: absolute;
    top: 55%;
    left: -20%;
}

.birth::before{
    content: url(/public/assets/img/cake-candles-solid.svg);
    width: 24px;
    position: absolute;
    top: 55%;
    left: -20%;
}

.email::before{
    content: url(/public/assets/img/envelope-solid.svg);
    width: 24px;
    position: absolute;
    top: 55%;
    left: -20%;
}

.phoneProfile, .birthProfile, .emailProfile, .profileInfo {
    position: relative;
    color: black;
}

.phoneProfile::before{
    content: url(/public/assets/img/phone-solid.svg);
    width: 30px;
    position: absolute;
    left: -35px;
}
.birthProfile::before{
    content: url(/public/assets/img/cake-candles-solid.svg);
    width: 30px;
    position: absolute;
    left: -35px;
}
.emailProfile::before{
    content: url(/public/assets/img/envelope-solid.svg);
    width: 30px;
    position: absolute;
    left: -40px;
}

.hourForm {
    width: 45px;
    
}
.separator{
    color: white;
    margin-top: 0;
}

.c-black{
    color: black;
}

.bg-grey {
    background-color: rgba(160, 156, 156, 0.852);
}